
    <div class="col-6" style='justify-content: center;align-items: stretch;display: flex;'>
        <div class="row">
            <div class="col-12" style='padding:0;max-height: 250px;height: 250px;'>
                <div class="head-group small">
                    <span class='head-text level1'><span class='badge head-text-badge'>2</span>Movie Binding</span>
                </div>
                <ul class='xtra-ol open-list' id="listMovieTable" style="height: 100%; overflow: auto;">
                    <li><label><input class="form-check-input" type="checkbox" onClick="toggle(this)"/><div>Select All</div></label></li>
                </ul>
            </div>

            <div class="col-12" style='padding:0;max-height: 250px;height: 250px;'>
                <div class="head-group small">
                    <span class='head-text level1'><span class='badge head-text-badge'>3</span>Branch Binding</span>
                </div>
                <ul class='xtra-ol open-list ' id="TheatreBranchTable" style="height: 100%; overflow: auto;">
                    <li><label><input class="form-check-input" type="checkbox" onClick="toggle1(this)"/><div>Select All</div></label></li>
                    
                </ul>
            </div>
        </div>
    </div>
    
