<form id="coupon">
        <div class="dashview">
                <div class="row justify-content-start">
                    <%- include couponinput %> 
                </div>
        </div>
    <div class="row">
        <div class="mx-auto mt-3 text-center">
            <button type="button" class="btn btn-white mr-5 btn-outline-light" onclick="SelectedAddEdit()" ><i class="material-icons">add_circle</i><span id="Create">  Save </span></button>
            <button type="button" class="btn btn-white btn-outline-light" onclick="quizFrom()">Cancel</button>  
        </div>
    </div>
</div>
</form>