<div id="editMovieForm" class="container-fluid"> 
        <div class="row">
                <div class='head-group col-12'>
                        <span class='head-text level1'>Movie Form</span>
                        <span class='head-text level2'>Edit Movie Info.</span>
                </div>
                <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                            <div class='head-group small'>
                                    <span class='head-text level1'>Movie Information</span>
                            </div>
                        
                        <ul class='open-list white-ol'>
                                <form id="movie">
                                        <div class="form-group">
                                                <label for='MovieName' class='head-text level3'>MovieName</label>
                                                <input type="text" autocomplete="off" class="form-control text-back pb-0 text-center" id="MovieName_Add"  name="MovieName"required>
                                        </div>
                                        <div class="form-group">
                                                <label for='Director' class='head-text level3'>Director</label>
                                                <input type="text" autocomplete="off" class="form-control text-black pb-0 text-center" id="Director_Add" name="Director"required>
                                        </div>
                                        <div class="form-group">
                                                <label for='Cast' class='head-text level3'>Casts</l>
                                                <textarea cols="100" rows="5"autocomplete="off" class="form-control text-black pb-0 text-center" style="border-color: black!important;border-width:2!important;font-size: .8rem;border-radius: .25rem!important;background: #00000014!important;border-color: gray!important;" id="Casts_Add"  name="Casts"required></textarea>
                                        </div>

                                        <div class="form-group">
                                                <label for='Desc' class='head-text level3'>Desc</label>
                                                <textarea cols="100" rows="5" autocomplete="off" class="form-control text-black pb-0 text-center"style="border-color: black!important;border-width:2!important;font-size: .8rem;border-radius: .25rem!important;background: #00000014!important;border-color: gray!important;" id="Desc_Add"  name="Desc"required></textarea>
                                        </div>
                                        
                                        <div class="form-group">
                                                <label for='Duration' class='head-text level3'>Duration</label>
                                                <input type="text" autocomplete="off" class="form-control text-black pb-0 text-center" id="Duration_Add"  name="Duration"required>
                                        </div>
                                        <div class="form-group">
                                                <label for='Rate' class='head-text level3'>Rate</l>
                                                <input type="text" autocomplete="off" class="form-control text-black pb-0 text-center" id="Rate_Add"  name="Rate"required>
                                        </div>
                                        <div class="form-group">
                                                <label for='Genre' class='head-text level3'>Genre</label>
                                                <input type="text" autocomplete="off" class="form-control text-black pb-0 text-center" id="Genre_Add"  name="Genre"required>
                                        </div>
                                        <div class="form-group">
                                                <label for='Studio' class='head-text level3'>Studio</label>
                                                <input type="text" autocomplete="off" class="form-control text-black pb-0 text-center"  id="Studio_Add"  name="Studio"required>
                                        </div>
                                        
                                        <div class="form-group">
                                                <label for='PosterURL' class='head-text level3'>PosterURL</l>
                                                <input type="text" autocomplete="off" class="form-control text-black pb-0 text-center" id="PosterURL_Add"  name="PosterURL"required>
                                        </div>
                                        <div class="form-group">
                                                <button class="btn btn-outline-light btn-white" style="border-color: gray!important;color: black;border-width: 1.5;" id="EditMovieSucc">Sucress&emsp;</button>
                                                <button class="btn btn-outline-light btn-white" style="border-color: gray!important;color: black;border-width: 1.5;" id="Cancel">Cancel&emsp;</button>
                                        </div>
                                </form>
                        </ul>
                 </div>
        </div>
</div>