<div class='side-bar'>
    <button class='side-bar-icon'>
        <i class="fas fa-sign"></i>
    </button>
    <button class='side-bar-icon' data-popup='buy-ticket-popup'>
        <i class="fas fa-calendar-day"></i>
    </button>
    <button id='toAdmin-btn' class='side-bar-icon special' onclick="location.href='/admin'" style='display:none;'>
        <i class="fas fa-toolbox"></i>
    </button>
</div>