<%- include('partials/header', {mode: 'user'});  %>
        <div class='content-view'>
            <div class='head-group' data-color='red'>
                <span class='head-text level1'>Highlight</span>
                <span class='head-text level2'>Play now at your nearest cinema</span>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0LHxvxdRnYc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class='content-view'>
            <div class='head-group' data-color='red'>
                <span class='head-text level1'>Now Showing</span>
                <span class='head-text level2'>All showing movie shown here</span>
                <span class='head-text level3'><span class='nshowing'></span> Movies</span>
            </div>
            
            <div class='program-row'>
            </div> 
        </div>
<%- include partials/foot %>  