@keyframes showNav {
    from {
        opacity: 0;
        top:-100;
    }
    to {
        opacity: 1;
        top:0;
    }
}

@-webkit-keyframes showNav {
    from {
        opacity: 0;
        top:-100;
    }
    to {
        opacity: 1;
        top:0;
    }
}

@-o-keyframes showNav {
    from {
        opacity: 0;
        top:-100;
    }
    to {
        opacity: 1;
        top:0;
    }
}

@-moz-keyframes showNav {
    from {
        opacity: 0;
        top:-100;
    }
    to {
        opacity: 1;
        top:0;
    }
}

@keyframes float {
	0% {
		transform: translatey(0px);
		-webkit-transform: translatey(0px);
		-moz-transform: translatey(0px);
		-ms-transform: translatey(0px);
		-o-transform: translatey(0px);
    }
	50% {
		transform: translatey(-10px);
		-webkit-transform: translatey(-10px);
		-moz-transform: translatey(-10px);
		-ms-transform: translatey(-10px);
		-o-transform: translatey(-10px);
    }
	100% {
		transform: translatey(0px);
		-webkit-transform: translatey(0px);
		-moz-transform: translatey(0px);
		-ms-transform: translatey(0px);
		-o-transform: translatey(0px);
    }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}